<div class="container text-center ">
    <% if flash[:notice] %>
    <div class= "alert alert-success ">
            <%= flash[:notice] %>
            <% flash.clear %>
    </div>
    <% end %>
</div>

<% if @orders.present? %>
        <div class="table-responsive ">
                <table class="table table-hover table-bordered ">
                        <tr>
                        <th> Order Id </th>
                        <th>Order Item ID </th>
                        <th>Belongs to </th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Order Date</th>
                        <th>Order Delivery Status </th>
                        </tr>
                <% @orders.order(:delivered).each  do |item| %>
                        <tr>
                        <td> <%= item.order_id %> </td>

                        <td> <%=item.id %> </td>

                        <td>
                                <% user_id = item.select_user(item.order_id)%>
                                <% user_id = item.find_user(user_id) %>
                                <%= user_id.first_name + " " + user_id.last_name  %>
                        </td>

                        <td> <%= item.submenu_items_description %> </td>

                        <td> <%= item.quantity.to_s %> </td>

                        <td> <%=  "$" + item.submenu_item_price.to_s %></td>

                        <td> <%= item.created_at.to_s(:long_ordinal) + " IST" %> </td>
                        <% if item.delivered %>
                                <td class="text-success"> Delivered on  <%= item.updated_at.to_s(:long_ordinal) + " IST" %></td>
                         <% else %>
                                <td class="text-danger">
                                        Not Delivered
                                <%= button_to  "mark as delivered",
                                            "/order_items/update",
                                            params: {id: item.id},
                                            class:"m-2 btn btn-success",
                                            method: "put"
                                             %>
                                </td>
                         <% end %>
                </tr>
                <% end%>
                </table>
        </div>

<% else %>
<h2 class="text-center alert-danger"> Opps! There are no orders </h2>
<% end %>
