<div class ="text-center">
    <h1 class="h1"> Welcome <%= @owner.first_name %> </h1>
</div>
<div class="d-flex align-items-center justify-content-center m-auto w-auto">

        <%= link_to "Create a user", "users/new", class:" btn btn-success " %>

        <%= link_to "Show users", "users/show", class:"btn btn-info " %>

        <%= button_to "Update a user", class:"btn btn-warning " %>

        <%= link_to "Delete a user", "users/destroy", class:"btn btn-danger"%>

</div>
