<div class ="text-center">
    <h1 class="h1"> Welcome <%= @owner.first_name %> </h1>
</div>
<div class="d-flex align-items-center justify-content-center m-auto w-auto">

        <%= link_to "Show users", "users/show", class:"btn btn-info " %>

        <%= link_to "Update a user", "users/update_user", class:"btn btn-warning " %>

        <%= link_to "Delete a user", "users/delete_user", class:"btn btn-danger"%>

        <%= link_to "Show all orders", "owners/show_to_owner", class:"btn btn-info " %>

</div>
