<div class ="text-center">
    <h1 class="h1"> Welcome <%= Current.owner.first_name %> </h1>
</div>
<div class="d-flex align-items-center justify-content-center m-auto w-auto">

        <%= button_to "Create a user", class:" btn btn-secondary " %>

        <%= link_to "Show users", "/manage/show", class:"btn btn-info " %>

        <%= button_to "Update a user", class:"btn btn-warning " %>

        <%= button_to "Delete a user", class:"btn btn-danger" %>

</div>
