<div class= "cards-box">

    <p>
        <button class="btn btn-warning"
                        type="button"
                        data-bs-toggle="collapse"
                         data-bs-target= <%="#"+  card_id%>
                        aria-expanded="false"
                        aria-controls=<%= card_id %>
        >
            <%= menu_category %>
        </button>
    </p>


<div class="collapse card" id=<%= card_id %>  >
    <p>
        <button class="btn btn-warning"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target= <%="#"+  card_id%>
                        aria-expanded="false"
                        aria-controls=<%= card_id %>
        >
          <%= menu_category_name %>
        </button>
    </p>
</div>

    <div class="collapse card" id=<%= card_id %> >
                <div class="d-flex card-body flex-wrap ">
                                <div class="cards-content" >
                                        <%= image_tag "/assets/cake.jpg",class:" cards-image img-responsive rounded" %>
                                        <p class="text-center cards-description">
                                            Amount : 12 $
                                        </p>
                                        <p class="cards-amount">
                                            <span class="add-label"> Add</span>
                                            <input type="number", min="0"/>
                                        </p>
                                        <p class="text cards-description">
                                            Cake is a form of sweet food made from flour, sugar, and other ingredients, that is usually baked.
                                            The most commonly used cake ingredients include flour, sugar, eggs, butter or oil or margarine,
                                            a liquid, and a leavening agent, such as baking soda or baking powder.
                                        </p>
                                </div>

                                <div class="cards-content">
                                <%= image_tag "/assets/cake.jpg",class:" cards-image img-responsive rounded" %>
                                <p class="text-center cards-description">
                                            Amount : 12 $
                                </p>
                                <p class=" cards-amount">
                                           <span class="add-label"> Add</span>
                                            <input type="number", min="0"/>
                                        </p>
                                <p class="text cards-description">
                                    Cake is a form of sweet food made from flour, sugar, and other ingredients, that is usually baked.
                                    The most commonly used cake ingredients include flour, sugar, eggs, butter or oil or margarine,
                                    a liquid, and a leavening agent, such as baking soda or baking powder.
                                </p>
                                </div>

                                <div class="cards-content">
                                <%= image_tag "/assets/cake.jpg",class:" cards-image img-responsive rounded" %>
                                <p class="text-center cards-description">
                                            Amount : 12 $
                                        </p>
                               <p class="cards-amount">
                                           <span class="add-label"> Add</span>
                                            <input type="number", min="0"/>
                                </p>
                                <p class="text cards-description">
                                    Cake is a form of sweet food made from flour, sugar, and other ingredients, that is usually baked.
                                    The most commonly used cake ingredients include flour, sugar, eggs, butter or oil or margarine,
                                    a liquid, and a leavening agent, such as baking soda or baking powder.
                                </p>
                                </div>

                </div>
    </div>
</div>
