<div class="container text-center ">
    <% if flash[:alert] %>
    <div class= "alert alert-danger ">
            <%= flash[:alert] %>
    </div>
            <% flash.clear %>
    <% elsif flash[:notice] %>
    <div class= "alert alert-success ">
            <%= flash[:notice] %>
            <% flash.clear %>
    </div>
    <% end %>
</div>

<div class="table-responsive ">
  <table class="table table-hover table-bordered ">
        <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Added on</th>
        </tr>
  <% @cart.each  do |item| %>
        <tr >
          <td>
              <%= item.submenu_items_description %>
              <%= link_to  "Remove",
                                            "/carts/" + item.id.to_s,
                                            :cart_id => item.id.to_s,
                                            class:"m-2 btn btn-danger",
                                            data: { confirm: "Are you sure?"},
                                            method:"delete"
              %>
          </td>
          <td class="d-flex align-items-center">
            <%= button_to  "-",
                                            "/carts/removeq",
                                            params: {id: item.id},
                                            class:"m-2 btn btn-danger",
                                            method: "put"
                                             %>
          <%= item.quantity.to_s %>
          <%= button_to  "+",
                                            "/carts/addq",
                                            params: {id: item.id},
                                            class:"m-2 btn btn-success",
                                            method: "put"
                                             %>
          </td>
          <td><%=  "$" + item.submenu_item_price.to_s %></td>
          <td>
                <%= item.updated_at.to_s(:long_ordinal) + " IST" %>
          </td>
        </tr>
  <% end%>
  </table>
  <div class="d-flex align-items-center justify-content-center ">
  <strong class="checkout">Total amount to pay: $ <%= @cart_sum %> </strong>
               <%= button_to  "Checkout",
                                            "/carts/",
                                            class:"m-2 btn btn-success",
                                            data: { confirm: "Are you sure?"},
                                            method: "post"
                                             %>

  </div>
</div>
