<div class="container text-center ">
    <% if flash[:alert] %>
    <div class= "alert alert-danger ">
            <%= flash[:alert] %>
    </div>
            <% flash.clear %>
    <% elsif flash[:notice] %>
    <div class= "alert alert-success ">
            <%= flash[:notice] %>
            <% flash.clear %>
    </div>
    <% end %>
</div>

<% if @order_items.present? %>
        <div class="table-responsive ">
                <table class="table table-hover table-bordered ">
                        <tr>
                        <th>Order Item ID </th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Order Date</th>
                        </tr>
                <% @order_items.order(:submenu_items_description).each  do |item| %>
                        <tr>
                        <td> <%=item.id %> </td>
                        <td> <%= item.submenu_items_description %> </td>
                        <td> <%= item.quantity.to_s %> </td>
                        <td> <%=  "$" + item.submenu_item_price.to_s %></td>
                        <td> <%= item.updated_at.to_s(:long_ordinal) + " IST" %> </td>
                </tr>
                <% end%>
                </table>
        </div>
<% else %>
<h2 class="text-center alert-danger"> Opps! You have not ordered anything </h2>
<% end %>
